<mat-sidenav-container style="width: 100%; height: 100%">
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex">
      <span style="margin: auto">Angular Mitaa Package</span>
    </mat-toolbar>

    <div class="installation-container">
      <h2>Installing ngx-mitaa</h2>
      <p>
        To install the ngx-mitaa package in your Angular project, you can use either npm or yarn.
      </p>

      <h3>Using npm:</h3>
      <pre><code class="language-bash">npm install ngx-mitaa</code></pre>

      <h3>Using yarn:</h3>
      <pre><code class="language-bash">yarn add ngx-mitaa</code></pre>

      <p>
        Once the installation is complete, you can import the module and its components into your Angular modules and components to start using them.
      </p>
    </div>

    <!-- content -->
  </mat-sidenav-content>
</mat-sidenav-container>
